.Clock  {
    width: 80%;
    font: Arial Helvetica sans-serif;
    font-size: 250%;
    font-weight: 600;
    line-height: 125%;
    padding: 5%;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid red;
}